<% content_for :page_title do %>
Przewodniki po Ruby on Rails
<% end %>

<% content_for :header_section do %>
<h2>Przewodniki po Ruby on Rails</h2>

<% if @edge %>
<p>
  These are <b>Edge Guides</b>, based on the current
  <a href="http://github.com/rails/rails/tree/master">master branch</a>.
</p>
<p>
  If you are looking for the ones for the stable version please check
  <a href="http://guides.rubyonrails.org">http://guides.rubyonrails.org</a> instead.
</p>
<% end %>

<p>
Przewodniki te zostały napisane, abyś mógł szybko zacząć efektywnie
pracować z platformą Ruby on Rails oraz by pomóc Ci zrozumieć jak poszczególne jej elementy
tworzą spójną całość. Strona ta dostępna jest w kilku wersjach:
</p>

<p>
Strona ta dostępna jest w kilku wersjach:
<ul>
  <li> <a href="http://guides.rubyonrails.org/">angielska wersja stabilna</a> 
  - opisuje Railsy w wersji stabilnej 2.3</li>
  <li> <a href="http://guides.rails.info/">angielska wersja rozwojowa</a> 
  - opisuje Railsy w wersji rozwojowej </li>
  <li> <a href="http://apohllo.pl/guides/index.html">polska wersja rozwojowa</a> 
  - powstaje na podstawie angielskiej wersji stabilnej (2.3) </li>
</ul>

Docelowo polskie tłumaczenie pojawi się na <a href="http://www.rubyonrails.pl">oficjalnej stronie frameworku</a>.

</p>

<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <dd class="warning">Ta strona nie jest jeszcze ukończona. Co więcej - powstaje na
podstawie przewodników angielskich, które również są ciągle uaktualniane. 
</dd>
<dd class="ticket">Przewodniki, które posiadają jedynie angielski
  opis, nie zostały obecnie przetłumaczone. 
 Jeśli chciałbyś je przetłumaczyć lub poprawić inne błędy zajrzyj na  
 <a href="http://wiki.github.com/apohllo/docrails">stronę polskiego 
   tłumaczenia na githubie</a>.</dd>
  </dl>
</div>
<% end %>

<h3>Na początek</h3>

<dl>
  <%= guide('Zaczynamy z Ruby on Rails', 'getting_started.html') do %>
    <p>
Wszystko co musisz wiedzieć aby zainstalować Railsy oraz stworzyć swoją
pierwszą aplikację.</p>
<% end %>
</dl>

<h3>Modele</h3>

<dl>
<%= guide("Migracje schematu bazy danych", 'migrations.html') do %>
  <p>Ten przewodnik omawia mechanizm migracji modułu Active Record
pozwalającego na ustrukturyzowaną i zorganizowaną zmianę (schematu) bazy
danych.</p>
<% end %>

<%= guide("Walidacje i callbacki w module Active Record", 'activerecord_validations_callbacks.html') do %>
  <p>Ten przewodnik omawia mechanizmy walidacji i callbacków modułu Active
Record.</p>
<% end %>

<%= guide("Asocjacje modułu Active Record", 'association_basics.html') do %>
  <p>Ten przewodnik omawia wszystkie typy asocjacji występujących w module Active Record.</p>
<% end %>

<%= guide("Zapytania w module Active Record", 'active_record_querying.html') do %>
  <p>Ten przewodnik omawia interfejs zapytań modułu Active Record.</p>
<% end %>
</dl>

<h3>Widoki</h3>

<dl>
<%= guide("Layouty oraz renderowanie", 'layouts_and_rendering.html') do %>
  <p>Ten przewodnik omawia podstawowe cechy layoutów wykorzystywanych w modułach
Action Controller oraz Action View, włączając w to renderowanie,
przekierowania, bloki <tt>content_for</tt> oraz pracę z szablonami i podszablonami.</p>
<% end %>

<%= guide("Helpery formularzy modułu Action View", 'form_helpers.html', :ticket => 1) do %>
  <p>Ten przewodnik omawia sposób wykorzystania wbudowanych helperów do tworzenia formularzy.</p>
<% end %>
</dl>

<h3>Kontrolery</h3>

<dl>
<%= guide("Podstawowe informacje o module Action Controller", 'action_controller_overview.html') do %>
  <p>Ten przewodnik omawia sposób działania kontrolerów oraz ich
rolę w obsłudze żądań przychodzących do twojej aplikacji.
Obejmuje m.in. obsługę sesji, filtry, cookies, strumieniowanie danych
oraz obsługę wyjątków generowanych przez żądania.</p>
<% end %>

<%= guide("Routing w Ruby on Rails", 'routing.html') do %>
  <p>Ten przewodnik omawia występujący w Railsach mechanizm routingu z punktu
widzenia jego użytkownika. Zacznij od niego jeśli chcesz zrozumieć jak 
używać routingu w swojej aplikacji railsowej.</p>
<% end %>
</dl>

<h3>W głąb Railsów</h3>

<dl>

<%= guide("Obsługa I18N w Ruby on Rails", 'i18n.html') do %>
  <p>Ten przewodnik stanowi wprowadzenie do podstawowych koncepcji oraz 
funkcjonalności interfejsu programistycznego Railsów związanych
z tworzeniem aplikacji w różnych wersjach językowych oraz lokalizacyjnych.</p>
<% end %>

<%= guide("Podstawowe informacje o module Action Mailer", 'action_mailer_basics.html', :ticket => 25) do %>
  <p>Ten przewodnik opisuje sposób używania modułu Action Mailer do wysyłania i
odbierania wiadomości elektronicznych.</p>
<% end %>

<%= guide("Testowanie aplikacji railsowej", 'testing.html', :ticket => 8) do %>
  <p>Przewodnik ten stanowi dosyć obszerne wprowadzenie do jednostkowego
oraz funkcjonalnego testowania aplikacji railsowej. Obejmuje wszystko
począwszy od pytania &quot;Czym jest test?&quot; skończywszy na API dostępnym w
testach</p>
<% end %>

<%= guide("Bezpieczeństwo w Ruby on Rails", 'security.html') do %>
  <p>Ten przewodnik opisuje częste problemy związane z bezpieczeństwem 
  w aplikacjach internetowych i pokazuje jak ich uniknąć stosując Railsy.</p>
<% end %>

<%= guide("Debugowanie w Ruby on Rails", 'debugging_rails_applications.html') do %>
  <p>Ten przewodnik opisuje jak debugować aplikację railsową. Obejmuje różne
sposoby usuwania błędów oraz jak zrozumieć to co dzieje się ,,pod
powierzchnią'' twojego kodu.</p>
<% end %>

<%= guide("Testowanie wydajności aplikacji railsowej", 'performance_testing.html') do %>
  <p>Ten przewodnik obejmuje sposobu mierzenia wydajności oraz profilowania
aplikacji railsowej.</p>
<% end %>

<%= guide("Konfiguracja aplikacji", 'configuring.html') do %>
  <p>Ten przewodnik omawia konfigurację podstawowych ustawień w aplikacji 
railsowej.</p>
<% end %>

<%= guide("Narzędzia linii poleceń oraz zadania Rake", 'command_line.html', :ticket => 29) do %>
  <p>Ten przewodnik omawia narzędzia dostępne w linii poleceń oraz
  zadania Rake dostarczane wraz z Railsami.</p>
<% end %>

<%= guide("Cache'owanie w Ruby on Rails", 'caching_with_rails.html', :ticket => 10) do %>
  <p>Ten przewodnik omawia różne sposoby cache'owania dostarczane standardowo
przez platformę Ruby on Rails.</p>
<% end %>

<%= guide("Contributing to Rails", 'contributing_to_rails.html') do %>
  <p>Rails is not &quot;somebody else's framework.&quot; This guide covers a variety of ways that you can get involved in the ongoing development of Rails.</p>
<% end %>
</dl>

<h3>Rozszerzanie platformy</h3>

<dl>
  <%= guide("Podstawy tworzenia pluginów dla Ruby on Rails", 'plugins.html', :ticket => 32) do %>
    <p>Ten przewodnik omawia sposób budowania pluginów, w celu rozszerzenia
funkcjonalności Railsów.</p>
  <% end %>

  <%= guide("Rails on Rack", 'rails_on_rack.html') do %>
    <p>Ten przewodnik omawia integracje Railsów i Racka oraz sposób współpracy 
    z innnymi komponentami tego narzędzia. </p>
  <% end %>

  <%= guide("Adding Generators", 'generators.html') do %>
    <p>This guide covers the process of adding a brand new generator to your extension
      or providing an alternative to an element of a built-in Rails generator (such as
      providing alternative test stubs for the scaffold generator).</p>
  <% end %>
</dl>

<h3>Release Notes</h3>

<dl>
<%= guide("Ruby on Rails 3.0 Release Notes", '3_0_release_notes.html') do %>
  <p>Release notes for Rails 3.0.</p>
<% end %>

<%= guide("Ruby on Rails 2.3 Release Notes", '2_3_release_notes.html') do %>
  <p>Release notes for Rails 2.3.</p>
<% end %>

<%= guide("Ruby on Rails 2.2 Release Notes", '2_2_release_notes.html') do %>
  <p>Release notes for Rails 2.2.</p>
<% end %>
</dl>
